<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Email Verification</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				line-height: 1.6;
				margin: 0;
				padding: 0;
			}
			.container {
				max-width: 700px;
				margin: 0 auto;
				padding: 20px;
				background-color: #f9f9f9;
				border-radius: 5px;
			}
			h1 {
				color: #3934a3;
			}
			p {
				color: #6c6c6c;
			}
			.ps {
            margin-top: 20px;
				font-size: 12px;
				color: #afafaf;
			}
		</style>
	</head>
	<body>
		<div class='container'>
			<h1>Your Novel account has been deleted</h1>
			<p>
				We're sorry to inform you that your account has been deleted. If you
				believe this was in error or would like to reinstate your account,
				please reach out to our support team at {{link}}. 
				<br>
				<br>We value your presence and would love to assist you in any
				way possible. Thank you for your understanding.
			</p>
			<p>
				Best Regards,<br />
				<b>Novel</b>
			</p>
		</div>
	</body>
</html>