<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Email Verification</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				line-height: 1.6;
				margin: 0;
				padding: 0;
			}
			.container {
				max-width: 700px;
				margin: 0 auto;
				padding: 20px;
				background-color: #f9f9f9;
				border-radius: 5px;
			}
			h1 {
				color: #3934a3;
			}
			p {
				color: #6c6c6c;
			}
			a {
				display: inline-block;
				padding: 10px 20px;
				margin-top: 20px;
				background-color: #3934a3;
				color: #fff !important;
				text-decoration: none;
				border-radius: 5px;
				margin-bottom: 30px;
			}
			a:hover {
				background-color: #5b55c2;
			}
			.ps {
            margin-top: 20px;
				font-size: 12px;
				color: #afafaf;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1>Reset Password</h1>
			<p>
				A request hase been reseived to change the password for your <b>Novel</b> account.
			</p>
			<a href="{{link}}">Reset Password</a>
			<p>
				Best Regards,<br />
				<b>Novel</b>
			</p>
			<p class="ps">
				If you did not sign up for our service, please disregard this email.
			</p>
		</div>
	</body>
</html>
